.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.car-detail-image {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.form-label {
    padding: 0.2em;
    font-size: 12pt;
    font-weight: 550;
}


.form-input {
    padding: 12px;
    border: 0;
    border-radius: 5px;

    background-color: #f7f7f7;
}

.car-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
}

.car-details-options {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.car-details-options > button {
    margin: 0;
}

.car-delete-button {
    background-color: #EC7063;
}

.user-options {
    display: flex;
    justify-content: center;
}

.add-button {
    margin: 0;
}