.header {
    margin: 0px;
    padding: 5px 0;

    width: 100%;
    text-align: center;
    font-size: 16pt;

    color: black;

    border-bottom: 1px solid #dcdcdc;
}

.navbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.links {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 800;
    text-decoration: none;
    color: black;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-right: 1.2rem;

    font-size: 12pt;
}

.login-button {
    margin-right: 0.3rem;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-image:hover {
    cursor: pointer;
}

.logout-icon:hover {
    cursor: pointer;
}

@media (max-width:640px) {
    .header {
        font-size: 12pt;
    }

    .link {
        font-size: 8pt;
    }
}