.main-title {
    font-size: 20pt;
    font-weight: bold;
}

.profile-image-label {
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position: relative;
}

.add-button {
    position: absolute;
    bottom: 0;
    right: 0;

    font-weight: bold;
    font-size: 15pt;
}

.add-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.add-button:hover {
    cursor: pointer;
}