@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    height: 100%;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    background: white;
    /* background: #F8FBFD;  */
}

.layout-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100wh;
        align-items: center;
}

.main-page-container {
    height: 100%;
    width: 100%;
    flex: 1;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

