.chat {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.chat-title {
    font-weight: bold;
}

.chat-icon {
    font-size: 24pt;
    text-align: right;
    color: #2196F3;
}

.chat-icon:hover {
    cursor: pointer;
}

.chat-area {
    position: relative;
    z-index: 1;
    background-color: white;
    border: 1px solid #BFC9CA;
    border-radius: 10px;
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
}

.input-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.user-input {
    width: 80%;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
}

.send-button {
    margin: 0;
    font-size: 16pt;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: white;
    position: relative;
    right: 0;
    color: #2196F3;
}

.send-button:hover {
    cursor: pointer;
}

.close-chat {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
}

.close-icon {
    position: absolute;
    right: 5px;
}

.close-icon:hover {
    cursor: pointer;
}

.message-list {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    margin: 0.5rem;
    flex: 1;
    overflow-y: auto;

}

.message {
    max-width: 80%;
    margin-top: 0.3rem;
    word-wrap: break-word;
}

.bot-message {
    background-color: #EAEDED;
    padding: 5px;
    border-radius: 10px;
}

.user-message {
    align-self: flex-end;
    
    color: white;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 5px;
}
