.compare-popup {
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.compare-icon-area {
    position: relative;
}

.compare-icon {
    font-size: 24pt;
    color: #2196F3;
}

.compare-icon:hover {
    cursor: pointer;
}

.compare-cars-list {
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid #BFC9CA;
    border-radius: 10px;
    padding: 0.6rem;
}

.car-item {
    margin: 0.2rem;
}