<div id="main-content">
    <table id="products">
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Remove</th>
        </thead>
        <tbody id="products-body">
            @for (product of products; track product.id)
            {   <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category }}</td>
                    <td><button (click)="handleRemoveFromCart(product.id)">Remove</button></td>
                    <!-- <td><button (click)="handleOnClickEdit(product)">Edit</button></td>
                    <td><button (click)="handleOnClickAdd(product)" [disabled]="isDisabled(product)">Add</button></td> -->
                </tr>
            }
        </tbody>
    </table>
</div>


@if (showModal) {
    <div id="modal">
        <div id="modal-content">
            <h2>Are you sure you want to remove this product?</h2>
            <div id="buttons-list">
                <button id="yes" (click)="handleModalConfirm()">Yes</button>
                <button id="no" (click)="handleModalClose()">No</button>
            </div>
        </div>
    </div>
}