#main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding: 5px;
    text-align: center;
}

#products-list {
    padding: 10px;
}

button {
    padding: 5px;
    margin: 5px;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}