.notification-card {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    padding: 10px;

    border-radius: 10px;

    background-color: #E74C3C;
    z-index: 100;
    color: white;
    font-weight: 400;
    font-size: 12pt;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 3s ease-out forwards;
}