.admin-dashboard {
    flex: 1;
    width: 90%;

    display: flex;
    flex-direction: row;

    margin: 3%;
}

.side-menu {
    width: 20%;
}

.content {
    width: 80%;
    margin-left: 2rem;
}

.option {
    display: flex;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 12pt;
    font-weight: 500;
    align-items: center;

    justify-content: left;
    gap: 10px;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
}

.selected {
    background-color: #F2F4F4;
}

.option:hover {
    cursor: pointer;
}

.option-icon {
    font-size: 10pt;
    width: 24px;
    height: 24px;
}
