.login-form {
    display: flex;
    flex-direction: column;

    width: 30%;
}

.login-form > label, .login-form > input {
    margin-bottom: 0.5rem;
}

.login-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.login-message {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 20pt;
}