body {
    margin: 0;
}

.car-card {
    margin: 1rem;
    width: 275px;
}

.car-image {
    width: 275px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.car-image-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.car-info {
    /* align-self: stretch; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.5rem;
}

.make-brand {
    font-weight: 600;
    font-size: 13pt;
}

.mileage-fuel, .make-year {
    color: #515A5A;
    font-size: 10pt;
}

.make-brand {
    max-width: 50%;
    overflow: hidden;
}

.make-mileage {
    display: flex;
    justify-content: space-between;
}

.car-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.price-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.view-button {
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 0.4rem 0.5rem;
}

.view-button:hover {
    cursor: pointer;
}