@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    /* width: 100%; */
    margin: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    padding: 10px;
}

#logo {
    width: 91px;
    height: 34px;
}

#search-icon {
    position: relative;
    left: 15px;
}

#search-bar {
    padding-left: 20px;
    width: 610px;
    height: 45px;
    border-radius: 25px;

    font-size: 10.5pt;
    border-width: 1px;

    background-color: #F8F9F9;
}

a {
    text-decoration: none;
    color: #2d2f31;
}

.navbar-link {
    font-size: 10.5pt;
}

#shopping-cart {
    font-size: 15pt;
}

#signup-button, #login-button {
    padding: 10px;
    width: 80px;
    height: 40px;

    font-weight: bold;
    font-size: 11pt;
    border-width: 1px;
    margin: 0 3px 0 3px;
}

#login-button {
    background-color: white;
}

#signup-button {
    background-color: #313133;
    color: white;
}

#language-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-width: 1px;

    font-size: 12pt;
}

/* section header style */
#header {
    background-color: #2d2f31;
}

#header-info {
    width: 50%;
    margin-left: 12%;

    padding-top: 2%;
    padding-bottom: 2%;
}

#path {
    color: #fff;
    margin-bottom: 30px;
}

#path span {
    color: #c0c4fc;
    font-weight: bold;
}

#header-title {
    color: #fff;
    font-size: 25pt;

    margin: 0;
}

#header-description {
    color: #fff;
    font-size: 14.5pt;
    margin-bottom: 20px;
    padding: 0;
}

#grade {
    color: #f69c08;
    font-weight: bold;
}

#stars-rating {
    font-size: 9pt;
}

#ratings-count {
    color: #c0c4fc;
    text-decoration: underline;
    font-size: 11pt;
}

#students-count {
    color: #fff;
    font-size: 11pt;
}

#rating span {
    margin-right: 3px;
}

#creator {
    color: #fff;
    font-size: 10.5pt;
}

#creator-name {
    color: #c0c4fc;
    text-decoration: underline;
}

#course-info {
    color: #fff;
    font-size: 11pt;
}

#course-info span {
    margin-right: 15px;
}

#other-subtitles {
    color: #c0c4fc;
    text-decoration: underline;
}

#rating, #creator, #course-info {
    margin: 15px 0;
}

/* learning plan styles */


#learning-plan {
    width: 50%;
    margin-left: 12%;
    margin-top: 30px;
    margin-bottom: 30px;
    
    border: 1px solid #d1d7dc;
}

#learning-plan h1 {
    padding: 0 20px;
}

#plan-items {
    columns: 2;
    padding: 0px 20px;
    position: relative;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.plan-item {
    display: flex;
    margin-bottom: 10px;
    color: #2d2f31;
    font-size: 10pt;

    width: 49%;
}

.item-description {
    margin-left: 10px;
}

#plan {
    position: relative;
}

#fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;

    background-image: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 1) 95%
    );
}

#show-more {
    color: #5624d0;
    font-weight: bold;
    font-size: 11pt;

    padding: 0 0 20px 20px;
}

#show-more:hover {
    cursor: pointer;
}

#course-benefits {
    margin-left: 12%;
}

#benefits {
    width: 50%;
    columns: 2;
}

#benefits-title {
    font-weight: bold;
    font-size: 24pt;
}

.benefit-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;
}

.benefit-description {
    margin-left: 10px;
}

#top-companies {
    margin-left: 12%;
    width: 50%;
    border: 1px solid #d1d7dc;

    margin-top: 30px;
    margin-bottom: 50px;
}

#companies-title {
    font-weight: bold;
    font-size: 12pt;
    padding: 10px 15px;
}

#companies-description {
    color: #6a6f73;
    font-size: 11pt;
    padding: 0 15px;
}

#companies-learn-more {
    color: #5624d0;
    text-decoration: underline;
}

#companies-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

/* sidebar styling */

#main-content {
    position: relative;
}

#sidebar {
    width: 340px;
    position: absolute;
    top: 25px;
    right: 12%;
    background-color: white;

    box-shadow: 0px 0px 10px rgba(0,0,0,.08);
}

#preview-card {
    background-image: url('udemy-top-courses.png');
    background-size: cover;

    min-height: 190px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

#play-icon {
    font-size: 50pt;
    color: white;
}

#preview-text {
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 15px;
    margin: 0;
}

#plan-type {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#plan-type > div {
    width: 50%;
    text-align: center;
    background-color: white;

    padding: 13px;
    font-weight: bold;
}

#personal-type {
    border-bottom: 2px solid black;
}

#teams-type {
    color: #6a6f73;
    border-bottom: 2px solid #d1d7dc;
}

#sidebar-main-content {
    margin: 0;
    padding: 23px;
}

#sidebar-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16pt;
}

#sidebar-description {
    font-size: 11pt;
    font-weight: 300;

    margin-top: 10px;
}

#sidebar-learn-more {
    color: #5624d0;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#try-for-free-button {
    margin-top: 13px;

    background-color: #a435f0;
    border: none;
    
    width: 100%;

    color: white;
    font-weight: bold;
    font-size: 12pt;
    
    padding: 15px 0;
}

#starting-price {
    margin-top: 7px;

    font-size: 9pt;
    color: #6a6f73;
    text-align: center;
}

#dashed-or {
    font-size: 9pt;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6a6f73;

    margin: 1.2rem 0;
}

#dashed-or::before {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d1d7dc;
    margin-right: 0.8rem;
}

#dashed-or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d1d7dc;

    margin-left: 0.8rem;
}

#price {
    font-weight: bold;
    font-size: 14pt;
}

#buy-button {
    width: 100%;
    background-color: white;
    
    border: 1px solid black;
    font-weight: bold;
    font-size: 12pt;

    margin: 1.2rem 0;
    padding: 12px 0;
}

#sidebar-benefits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #6a6f73;

    font-size: 9pt;
}

.sidebar-benefit {
    margin: 0.3rem;
}

#sidebar-options {
    margin-top: 0.6rem;
    display: flex;

    justify-content: space-between;
}

.sidebar-option {
    font-weight: bold;
    font-size: 11pt;

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #8072e6;
}

#coupon {
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 9pt;
    color: #6a6f73;

    border: 1px dashed #d1d7dc;
}

#coupon-name {
    font-weight: bold;
    font-size: 10pt;
}

#coupon-tag {
    margin-top: 0.3rem;
}

#remove-coupon {
    color: #5624d0;
    font-size: 14pt;
    padding-right: 0.2rem;
}



#coupon-input, #add-coupon-button {
    margin: 0;
    padding: 0;
}

#add-coupon {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    width: 100%;

    display: flex;
}

#coupon-input {
    border: 1px solid black;
    font-size: 11pt;

    width: 70%;
    padding: 10px 15px;
}

#add-coupon-button {
    background-color: black;
    color: white;
    border: none;

    font-size: 10pt;
    font-weight: 800;

    width: 30%;

    padding: 10px 10px;
}

#card-wrapper {
    padding: 1px;
}