.main-content {
    display: flex;
    flex-direction: column;
}

.cars-table {
    border: 1px solid #D5D8DC;
    border-collapse: separate;
    border-spacing: 0;
}

.cars-table {
    border-radius: 10px;
}

tbody td {
    border-top: 1px solid #D5D8DC;
    padding-top: 20px;
    padding-bottom: 20px;
}

td {
    padding: 10px;
    padding-right: 50px;
}