<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="parent" value="Users"/>
		<add key="child" value="UsersRepositories"/>
		<add key="keyColumn" value="userID"/>
	</appSettings>
</configuration>