<div id="layout">
    <div id="form">
        <form id="product-form">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="name">
            <label for="price">Price</label>
            <input type="number" step="0.01" name="price" id="price" [(ngModel)]="price">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" [(ngModel)]="description">
            <label for="category">Category</label>
            <input type="text" name="category" id="category" [(ngModel)]="category">
        </form>

        <button type="button" id="submit" (click)="handleSubmit()">Submit</button>
    </div>
</div>