

.dealer-card {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    align-items: end;
    justify-content: space-between;
}

.dealer-presentation {
    display: flex;
}

.dealer-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 1rem;
}

.dealer-name {
    font-weight: bold;
    font-size: 16pt;
}

.dealer-profile-image {
    width: 75px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.view-cars-button {
    margin: 0;
    background-color: #EAECEE;
    color: black;
}