.registration-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.register-message {
    font-weight: bold;
    font-size: 16pt;
    padding-bottom: 1rem;
}

.terms-message {
    font-size: 11pt;
}

.login-link {
    font-size: 11pt;
    color: #5D6D7E;
}

.register-loader-wrapper {
    display: flex;
    justify-content: center;

    min-height: 30px;
    margin-top: 1rem;
}

@media (min-width: 851px) and (max-width: 1024px) {
    .registration-wrapper {
        width: 35%;
    }
}

@media (min-width: 721px) and (max-width: 850px) {
    .registration-wrapper {
        width: 40%;
    }
}

@media (min-width: 561px) and (max-width: 720px) {
    .registration-wrapper {
        width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 560px) {
    .registration-wrapper {
        width: 60%;
    }
}

@media (min-width: 401px) and (max-width: 480px) {
    .registration-wrapper {
        width: 70%;
    }
}

@media (max-width: 400px) {
    .registration-wrapper {
        width: 75%;
    }
}